<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-auth-compat.js"></script>
  <script src="/static/firebase-config.js"></script>
  <script src="/static/firebase-login.js"></script>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div id="login-box">
    <h2>Login or Sign Up</h2>
    <input type="email" id="email" placeholder="Email">
    <input type="password" id="password" placeholder="Password">
    <button id="login-btn">Login</button>
    <button id="signup-btn">Sign Up</button>
  </div>
</body>
</html>
